body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#output {
  margin-top: 20px;
  white-space: pre-wrap;
  font-size: 16px;
}

/* Стили для ссылок */
.bible-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  max-width: 90%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Стили для выпадающих списков */
#bibleSelector {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
}

#verseSelect {
  height: 150px;
  overflow-y: auto;
}

#goToVerseButton {
  align-self: flex-start;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Стили для плавающей кнопки */
#floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007BFF;
  color: white;
  border: none;
  font-size: 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#floatingButton:hover {
  background-color: #0056b3;
}